<h1>STUPID COACHING</h1>

<div class="user-ask">
<p><%=params[:question]%></p>
<em>- You</em>
</div>

<div class="coach-answer">
<%if params[:question] == 'I am going to work'%>
    <p>Great!</p>
<%elsif params[:question].include?('?')%>
  <p>Silly question, get dressed and go to work!</p>
<%else%>
  <p>I don't care, get dressed and go to work!</p>
<%end%>
<em>- Your Coach</em>
</div>

<%= link_to "Ask a new question", ask_path %>